@tailwind base;
@tailwind components;
@tailwind utilities;


/*============= Login ===================== */

.section_background_Login {
    background-color: red;
    background: url(/assets/images/login/group_login.png) no-repeat center center;
    background-size: cover;
}


.layout_dashboard {
    @apply h-screen block overflow-y-auto col-span-5 bg-secondary-white px-3 sm:px-8 relative pt-4;
}
